* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

.mycontainer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}


.font_sm {
    font-size: 16px;
}

.font_xl {
    font-size: 50px;
}

@font-face {
    font-family: Cooper_Black;
    src: url("./assets/fonts/COOPBL.dbe0cbaa54b6ad6fa396.TTF");
}

@font-face {
    font-family: Fontspring_light;
    src: url("./assets/fonts/Fontspring-DEMO-commuterssans-light.8c81fb89b484cf9b3f63.otf");
}

@font-face {
    font-family: Fontspring_regular;
    src: url('./assets/fonts/Fontspring-DEMO-commuterssans-regular.82364e98e5c912a4eb71.otf');
}

@font-face {
    font-family: Fontspring_semibold;
    src: url("./assets/fonts/Fontspring-DEMO-commuterssans-semibold.31132f4522ab6573886f.otf");
}

.ff_Copper_black {
    font-family: "Cooper_Black", sans-serif;
}

.ff_Fontspring_light {
    font-family: "Fontspring_light", sans-serif;
}

.ff_Fontspring_regular {
    font-family: "Fontspring_regular", sans-serif;
}

.ff_Fontspring_semibold {
    font-family: "Fontspring_semibold", sans-serif;
}

.color_black {
    color: black !important;
}

.color_white {
    color: white !important;
}

.bg_color {
    background: linear-gradient(180deg, #CDCFD0 0%, #D8D7D7 15.99%, #E2E3E4 31.02%, #939091 48.19%, #7B7778 61.89%, #585455 77.07%, #3A3637 89.88%, #231F20 100%), linear-gradient(180deg, #979797 0%, #C7C7C7 29.80%, #DADADA 41.52%, #8B8B8B 65.40%, #292526 100%);
}

.nav_hover {
    transition: all 200ms linear;
}

.nav_hover:hover {
    color: #F98ABC !important;
}

.nav_hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    border-radius: 10px;
    background-color: #F98ABC;
    transition: all 300ms linear;
}

.nav_hover:hover::after {
    width: 100%;
    left: 0;
}

.GENESIS {
    color: #F98ABC !important;
}

.ms_lg_30 {
    margin-left: 30px;
}



.CenterLine {
    position: relative;
}

.CenterLine::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, );
    background: linear-gradient(89.8deg, #B05B9B 0.21%, #CECCCE 3.87%, #FD6FA6 8.48%, #552C4E 15.25%, #BA536C 22.68%, #C868B6 31.65%, #CECDCE 39.47%, #B45C9F 47.67%, #CC469A 53.68%, #763B69 58.46%, #E272CD 73.46%, #7A3D6E 81.47%, #63233D 90.39%, #CDC9CC 95.31%, #9C5087 99.78%),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
    border-radius: 20px;
    width: 30px;
    min-height: 100%;
    z-index: 2;
}

.h-90 {
    height: 90%;
}

.mt_5 {
    margin-top: 200px;
}

.d_grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: grid;
}

.Image1 {
    grid-row: 1/8;
    grid-column: 1/3;
}

.img_2004 {
    grid-row: 1/2;
    grid-column: 3/5;
    transform: translateX(8px);
    z-index: 1;
}


.img_2006 {
    grid-row: 2/3;
    grid-column: 3/5;
    transform: translateX(5px);
}

.Image2 {
    grid-row: 3/10;
    grid-column: 3/5;
}

.Image3 {
    grid-row: 8/13;
    grid-column: 1/3;
}

.Image4 {
    grid-row: 10/13;
    grid-column: 3/5;
}

.Image5 {
    grid-row: 13/16;
    grid-column: 1/5;
}

.img_2007 {
    grid-row: 16/17;
    grid-column: 2/5;
    transform: translateX(3px);
}

.Image6 {
    grid-row: 17/19;
    grid-column: 1/5;
}

.Image7 {
    grid-column: 1/3;
    grid-row: 19/23;
}

.Image8 {
    grid-column: 3/5;
    grid-row: 19/21;
}

.Image9 {
    grid-column: 2/5;
    grid-row: 21/24;
}

.img_2011-14 {
    grid-column: 1/5;
    grid-row: 25/26;
    transform: translateX(3px);
}

.Image10 {
    grid-column: 1/4;
    grid-row: 26/28;
}

.Image11 {
    grid-column: 4/5;
    grid-row: 26/30;
}

.Image12 {
    grid-column: 1/4;
    grid-row: 28/30;
}

/*next col-6 */

.img_2005 {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 270px;
}

.Image13 {
    grid-row: 1/5;
    grid-column: 3/6;
}

.Image14 {
    grid-row: 3/7;
    grid-column: 1/3;
}

.Image15 {
    grid-column: 3/6;
    grid-row: 5/9;
}

.Image16 {
    grid-column: 1/3;
    grid-row: 7/12;
}

.Image17 {
    grid-column: 3/6;
    grid-row: 10/15;
}

.img_2006_1 {
    grid-column: 1/3;
    grid-row: 12/13;

}

.Image18 {
    grid-column: 1/3;
    grid-row: 14/19;
}

.Image19 {
    grid-column: 2/6;
    grid-row: 15/20;
    max-width: 368px;
}

.Image20 {
    grid-row: 20/24;
    grid-column: 1/6;
}

.Image21 {
    grid-row: 24/28;
    grid-column: 1/6;
}

.img_2008 {
    grid-row: 28/29;
    grid-column: 1/3;
}

.Image22 {
    grid-row: 29/33;
    grid-column: 3/6;
}

.img_2010 {
    grid-row: 32/33;
    grid-column: 1/3;
}

.Image23 {
    grid-row: 34/37;
    grid-column: 1/3;
}

.Image24 {
    grid-row: 35/37;
    grid-column: 3/6;
}

.Image25 {
    grid-row: 38/43;
    grid-column: 1/3;
}

@media (max-width:991.9px) {
    .nav_sm {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #DAD9DA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: all 500ms linear;
    }

    .nav_show {
        left: 0;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .close_nav {
        position: absolute;
        right: 10%;
        top: 25px;
        cursor: pointer;
    }

    .ms_lg_30 {
        margin-left: 0px !important;
    }
}

@media (max-width:992px) {
    .CenterLine::before {
        content: '';
        position: absolute;
        left: 1%;
        transform: translate(-50%, );
        background: linear-gradient(89.8deg, #B05B9B 0.21%, #CECCCE 3.87%, #FD6FA6 8.48%, #552C4E 15.25%, #BA536C 22.68%, #C868B6 31.65%, #CECDCE 39.47%, #B45C9F 47.67%, #CC469A 53.68%, #763B69 58.46%, #E272CD 73.46%, #7A3D6E 81.47%, #63233D 90.39%, #CDC9CC 95.31%, #9C5087 99.78%),
            linear-gradient(0deg, #D9D9D9, #D9D9D9);
        border-radius: 20px;
        width: 30px;
        min-height: 100%;
    }
}

@media(min-width:675px) and (max-width:729px) {
    .Image19 {
        transform: translate(45px);
    }
}


@media(min-width:730px) and (max-width:991px) {
    .Image19 {
        transform: translate(80px);
    }

    .Image9 {
        width: 80% !important;
        transform: translate(60px);
    }

    .L_vs_p {
        padding-top: 50px;
    }
}

@media (max-width:576px) {
    .CenterLine::before {
        display: none;
    }

    .mt_5 {
        margin: 0;
    }

    .img_2004 {
        grid-row: 1/2;
        grid-column: 1/5;
    }

    .img_2006 {
        grid-row: 2/3;
        grid-column: 1/5;
    }

    .Image1 {
        grid-row: 3/4;
        grid-column: 1/5;
    }

    .Image2 {
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .Image3 {
        grid-column: 1/5;
        grid-row: 5/6;
        padding-right: 10px;
    }

    .Image4 {
        grid-column: 1/5;
        grid-row: 6/7;
    }

    .img_2007 {
        grid-column: 1/5;
        grid-row: 7/8;
    }

    .Image5 {
        grid-column: 1/5;
        grid-row: 8/9;
    }

    .Image6 {
        grid-column: 1/5;
        grid-row: 9/10;
    }

    .Image7 {
        grid-column: 1/5;
        grid-row: 10/11;
    }

    .Image8 {
        grid-column: 1/5;
        grid-row: 11/12;
    }

    .Image9 {
        grid-column: 1/5;
        grid-row: 12/13;
    }

    .img_2011-14 {
        grid-column: 1/5;
        grid-row: 13/14;
    }

    .Image10 {
        grid-column: 1/5;
        grid-row: 14/15;
    }

    .Image11 {
        grid-column: 1/5;
        grid-row: 15/16;
    }

    .Image12 {
        grid-column: 1/5;
        grid-row: 16/17;
    }

    .img_2005 {
        grid-column: 1/4;
        grid-row: 17/18;
    }

    .Image13 {
        grid-column: 1/5;
        grid-row: 18/19;
    }

    .Image14 {
        grid-column: 1/5;
        grid-row: 19/20;
    }

    .Image15 {
        grid-column: 1/5;
        grid-row: 20/21;
    }

    .Image16 {
        grid-column: 1/5;
        grid-row: 21/22;
    }

    .Image17 {
        grid-column: 1/5;
        grid-row: 22/23;
    }

    .img_2006_1 {
        grid-column: 1/4;
        grid-row: 23/24;
    }

    .Image18 {
        grid-column: 1/5;
        grid-row: 24/25;
    }

    .Image19 {
        grid-column: 1/5;
        grid-row: 25/26;
    }

    .Image20 {
        grid-column: 1/5;
        grid-row: 26/27;
    }

    .Image21 {
        grid-column: 1/5;
        grid-row: 27/28;
    }

    .img_2008 {
        grid-column: 1/4;
        grid-row: 28/29;
    }

    .Image22 {
        grid-column: 1/5;
        grid-row: 29/30;
    }

    .img_2010 {
        grid-column: 1/4;
        grid-row: 30/31;
    }

    .Image23 {
        grid-column: 1/5;
        grid-row: 31/32;
    }

    .Image24 {
        grid-column: 1/5;
        grid-row: 32/33;
    }

    .Image25 {
        grid-column: 1/5;
        grid-row: 33/34;
    }
}